@font-face {
  font-family: "agave";
  src: url("assets/fonts/Agave/agave\ regular\ Nerd\ Font\ Complete.ttf")
    format("truetype");
  src: url("assets/fonts/Agave/agave\ regular\ Nerd\ Font\ Complete\ Mono.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "daddy-time-mono";
  src: url("assets/fonts/DaddyTimeMono/DaddyTimeMono\ Nerd\ Font\ Complete.ttf")
    format("truetype");
  src: url("assets/fonts/DaddyTimeMono/DaddyTimeMono\ Nerd\ Font\ Complete\ Mono.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "hack";
  src: url("assets/fonts/Hack/Hack\ Regular\ Nerd\ Font\ Complete.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-weight: normal;
  margin: 0;
  font-size: 1.3rem;
  line-height: 1.9em;
}

h1 {
  font-size: 2rem;
  line-height: 1.5em;
}

p {
  margin-bottom: 1.9em;
}

a {
  text-decoration: none;
}
/* ----- header ----- */
.header {
  background: #393e46;
  padding: 0.7rem 0;
  top: 0;
  right: 0;
  left: 0;
  position: fixed;
}

.header a {
  font-family: "agave";
  color: #eeeeee;
}

.logo {
  letter-spacing: 1.5px;
  font-size: 2rem;
  padding-left: 3rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  padding-right: 3rem;
  list-style: none;
}

.nav ul li {
  display: inline-block;
  padding: 0 7px;
}

.nav ul li a {
  margin: 0;
  padding: 6px 18px;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav ul li a:hover {
  background: #eeeeee;
  color: #393e46;
}

/* ----- banner ----- */
.banner {
  font-family: "hack";
  width: 100%;
  height: 100vh;
  background: #a7bbc7;
  background-size: cover;
  background-position: center;
  transition: all 0.1s ease-in-out;
  animation: banner-transition 16s infinite linear;
}

.banner-content {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #eeeeee;
  background-color: rgba(57, 62, 70, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.banner-content h1 {
  margin: 0;
  padding: 0;
  text-align: center;
}

.banner-content a {
  padding: 9px 27px;
  text-transform: uppercase;
  font-weight: 600;
  color: #eeeeee;
  border: 3px solid #eee;
  transition: all 0.3s ease-in-out;
}

.banner-content a:hover {
  color: #393e46;
  background: #eeeeee;
}

@keyframes banner-transition {
  0% {
    background-image: url("assets/img/image-1.jpg");
  }
  25% {
    background-image: url("assets/img/image-1.jpg");
  }
  26% {
    background-image: url("assets/img/image-2.jpg");
  }
  50% {
    background-image: url("assets/img/image-2.jpg");
  }
  51% {
    background-image: url("assets/img/image-3.jpg");
  }
  75% {
    background-image: url("assets/img/image-3.jpg");
  }
  76% {
    background-image: url("assets/img/image-4.jpg");
  }
  100% {
    background-image: url("assets/img/image-4.jpg");
  }
}

/* ----- container ----- */
.container {
  font-family: "hack";
  width: 90%;
  max-width: 900px;
  margin: 2.5rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container span {
  margin: 1.25rem 0 0 0;
}

.container span a {
  color: #393e46;
  text-transform: uppercase;
  font-size: 1.3rem;
  line-height: 1.9em;
  padding: 6px 18px;
  border: 2.5px solid #393e46;
  transition: all 0.3s ease-in-out;
}

.container span a:hover {
  color: #eee;
  background-color: #393e46;
}
/* ----- cards ----- */
.cards {
  margin: auto 0;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
}

.tech-card {
  margin: 0.5rem;
  padding: 1rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: #f7f7f7;
  border-radius: 15px;
  cursor: default;
  box-shadow: 3px 3px 6px rgba(57, 62, 70, 0.5);
  transition: all 0.3s ease-in-out;
}

.tech-card:hover {
  background: #f1f1f1;
  transform: translateY(2%);
  box-shadow: 6px 6px 10px rgba(57, 62, 70, 0.7);
}

.tech-card p {
  font-family: "daddy-time-mono";
}
.tech-card a {
  padding: 3px 9px;
  text-transform: uppercase;
  color: #393e46;
  background: #eee;
  border-radius: 7px;
  border: 2px solid #393e46;
  transition: all 0.3s ease-in-out;
}

.tech-card a:hover {
  color: #eee;
  background: #393e46;
}

.tech-card img {
  width: 100%;
  height: 80px;
}

/* ----- footer ----- */
.footer {
  justify-content: center;
  text-align: center;
  margin: 3rem 0 0 0;
  padding: 3rem 0;
  background: #393e46;
}
